body{
    font-family: Arial ;
    background-color: rgb(244, 234, 223);
}

h1{
    font-family: Arial;
}

.customFont{
    font-family: comic sans ms !important;
}

h2{
    color:rgb(125, 64, 64);
    background-color: rgb(241, 213, 213);
}
.imageCustom{
    
}





